.navbar-right {
	margin:0;
	padding:0 20px 0 0;
}

a img{
	height:64px;
	width:auto;	
}

p {
	line-height:20px;
	padding-top:0px;
}

.auth-image {
	float:left;
	padding:10px;
}
div.input-group {
	margin:20px 0;
}

footer {
	text-align:center;
}

#logo {
	padding-left:60px;
}

.media {
	margin-bottom:40px;
}


